.Navbar {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
  }
  .logo{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
  
  .container {
    max-width: 998px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container a {
    text-decoration: none;
  }
  .container h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
  }
  
 
  
  
  @media (max-width: 576px) {
    .container {
      flex-direction: column;
    }
    .container h1 {
      margin-bottom: 15px;
    }
  }